<% include layouts/header %>
		<div class="container voffset6">
			<h1>About Safe For Work Me</h1>
			<p>The SFWMe project was created as a simple tool (with <a href="/api">API</a>) to allow anyone to quickly shorten <span class="text-danger">NSFW</span> (<span class="text-danger">N</span>ot <span class="text-danger">S</span>afe <span class="text-danger">F</span>or <span class="text-danger">W</span>ork) links. Use this as much as you like to avoid those akward situations when you don't know where someone will open your link. In an increasingly mobile device driven world where employees are opening akward links in front of their bosses all over the place; I hope you find some use in this tool. Otherwise, I did this for nothing. </p>

			<h1>Advertisers</h1>
			<p>There is a small advertising opportunity on SFWMe coming soon.</p>
		</div>
<% include layouts/footer %>
