<% include layouts/header %>
		<div class="container voffset6">
			<div id="error-msg" class="alert alert-danger hideme"><strong>Sorry!</strong>&nbsp;<span></span></div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="input-group">
						<span id="protocol" class="input-group-addon">http://</span>
						<input id="input-url" class="form-control input-lg" type="text" autocomplete="off" placeholder=<%= placeholder %>>
						<span class="input-group-btn">
							<button id="btn-go" class="btn btn-primary input-lg disabled" type="button">SFWMe!</button>
						</span>
					</div>
				</div>
			</div>

			<div id="options" class="row voffset3 hideme">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="switch-block center-block">
						<input id="nsfw" type="checkbox" data-on="danger" data-off="success" checked class="switch-large">
					</div>
				</div>
			</div>

			<div id="result" class="row voffset3 hideme">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="copy-alert alert alert-info center-block text-center">
						Below is your shortened URL! Copy to share!
					</div>
					<div id="redirect-url" class="well well-lg result-well center-block text-center">
						<div class="input-group">
						<input id="input-redirect-result" class="form-control text-center redirect-result" disabled type="text" autocomplete="off">
						<span class="input-group-btn">
							<button id="copy-url-btn" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-floppy-disk"></span> Copy
							</button>
						</span>
					</div>
					</div>
					
				</div>
			</div>
		</div>
<% include layouts/footer %>

