body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/* 	
 *	Bootstrap lacks vertical spacing. So that eas these classes are for. 
 * 	Got mixin idea from: http://pdenya.com/2013/08/08/vertical-space-in-bootstrap/
 */

.voffset (@margin: 2px) { margin-top: @margin; }
.voffset1 { .voffset(15px); }
.voffset2 { .voffset(10px); }
.voffset3 { .voffset(15px); }
.voffset4 { .voffset(30px); }
.voffset5 { .voffset(40px); }
.voffset6 { .voffset(60px); }
.voffset7 { .voffset(80px); }
.voffset8 { .voffset(100px); }
.voffset9 { .voffset(150px); }